The <a href="http://en.wikipedia.org/wiki/International_Space_Station"> International Space Station</a> is a man-made, habitable object in low Earth orbit under the joint operation of NASA, Roscosmos, JAXA, ESA, and CSA. It will also be the subject of our investigations into using APIs. 
<p>
    We will use a very simple API called <b>Open Notify</b>. 
<p> 
<hr>    
<h2> Let's start with the human...</h2> 
<ol>
<li>Point your browser to: <a href="http://api.open-notify.org"> http://api.open-notify.org</a></li>
<li>Let's look at the documentation for ISS-Pass-Times, for when the station will be visible from a location on the planet.</li>
<li>Read the documentation. Can you:
   <ol><li>Ascertain what you can ask of the APIs?</li>
    <li>Understand the parameters that are required? Optional?</li>
    <li>Find in what the format of the result will be?</li></ol>
</li>

<hr>
<h2> Getting data Manually...</h2>
Here's your first challenge! Using the documentation, can you create a URL (web address) that can request then the ISS will be over Taubman College?
<p>
Our location is lat: 42.290150, lon: -83.718440.
<p>
    <i>After you get it, note how the parameters are implemented in the URL.</i>

In [ ]:
http://api.open-notify.org/iss-pass.json?lat=42.290150&lon=-83.718440&n=29

<hr>

<h2> Let's get into code!</h2>
<p>
Let's first import our favorite Pandas, and a new library called <code>requests</code>. Documentation can be found at https://www.python-requests.org/.

In [1]:
import requests
import pandas as pd

Let's now create a new variable called <b>response</b> that uses the command <code>get</code>. Again, read more about the parameters of <code>get</code> in the documentation, but at minimum, you'll have to send the appropriate HTTP request (the URL). <p> Let's start with the basic, generalized address of http://api.open-notify.org/iss-now.json.

In [2]:
response=requests.get("http://api.open-notify.org/iss-now.json")
response

Not probably what you were thinking, right? In short, your <i>incomplete</i> request gave you what is called a "status code"-is the server up?
<p>
    There are <a href="https://www.restapitutorial.com/httpstatuscodes.html">many</a> codes, but the most common are:
<ul><li>200: Okay</li>
    <li>201: Modified (if PUT/POST, usually)</li>
    <li>304: Not modified (if PUT/POST, usually)</li>
    <li>400: Bad request</li>
    <li>403: Forbidden</li>
    <li>404: File not found</li>
</ul>
Let's try it again with an incorrect address... Here, we'll explicitly call up the status code, since we know we're doing something wrong. You can also try it using the code from before and see what you get. <i>Why do these responses differ or not?</i>

In [3]:
response = requests.get("http://api.open-notify.org/iss-pass")
print(response.status_code)

404

<hr><p><h2>Making Requests</h2>Now for some fun... <p>
Create a variable called <b>response</b>, using the <code>get</code> command we've been using, but pass through it the correct URL you used in the first step...

In [4]:
# Attempt 1: By URL request

response = requests.get("http://api.open-notify.org/iss-pass.json?lat=42.290150&lon=-83.718440")

In [5]:
print(response.content)

b'{\n  "message": "success", \n  "request": {\n    "altitude": 100, \n    "datetime": 1600967603, \n    "latitude": 42.29015, \n    "longitude": -83.71844, \n    "passes": 5\n  }, \n  "response": [\n    {\n      "duration": 548, \n      "risetime": 1600981523\n    }, \n    {\n      "duration": 655, \n      "risetime": 1600987253\n    }, \n    {\n      "duration": 612, \n      "risetime": 1600993108\n    }, \n    {\n      "duration": 592, \n      "risetime": 1600998980\n    }, \n    {\n      "duration": 642, \n      "risetime": 1601004806\n    }\n  ]\n}\n'

Does it look like your initial browser-utilized "search"? Great. That's one way to get results... Let's try another. 
<p>
    The following code isolates your variables. It utilizes <code>get</code>'s own syntax to allow you to isolate the parameters.

In [6]:
#Attempt 2: Using Parameters

parameters = {"lat": 42.290150, "lon": -83.718440}
response = requests.get("http://api.open-notify.org/iss-pass.json", params=parameters)

In [7]:
print(response.content)

b'{\n  "message": "success", \n  "request": {\n    "altitude": 100, \n    "datetime": 1600967623, \n    "latitude": 42.29015, \n    "longitude": -83.71844, \n    "passes": 5\n  }, \n  "response": [\n    {\n      "duration": 548, \n      "risetime": 1600981523\n    }, \n    {\n      "duration": 655, \n      "risetime": 1600987253\n    }, \n    {\n      "duration": 612, \n      "risetime": 1600993108\n    }, \n    {\n      "duration": 592, \n      "risetime": 1600998980\n    }, \n    {\n      "duration": 642, \n      "risetime": 1601004806\n    }\n  ]\n}\n'

<hr>
<h2>Handling JSONs</h2>
This may have not been what you wanted. Why don't you check what datatype your result is? 
<p>
    There is a command under <b>requests</b> called <code>content</code>. Try printing the "type" of data it is...

In [11]:
print(type(response.content))

<class 'bytes'>

So you may have realized that we need to convert this to a MACHINE-READABLE data format, since the result isn't one we really know how to handle ðŸ˜‚. 
<p>
Under <b>requests</b>, there is a command called <code>json</code> that tries to make sense of an input and interprets it as a JSON file--a file type we can use. 
    
<p>Using this, create a new variable called "data" that's a json of that previous <b>response</b>. Check if it's write by printing your result's datatype. Take a look at the data if things look right.

In [8]:
data=response.json()
print(type(data))

<class 'dict'>

In [9]:
print(data)

{'message': 'success', 'request': {'altitude': 100, 'datetime': 1600967623, 'latitude': 42.29015, 'longitude': -83.71844, 'passes': 5}, 'response': [{'duration': 548, 'risetime': 1600981523}, {'duration': 655, 'risetime': 1600987253}, {'duration': 612, 'risetime': 1600993108}, {'duration': 592, 'risetime': 1600998980}, {'duration': 642, 'risetime': 1601004806}]}

We win!... Sort of. Okay. So it's a JSON, but we still can't use it. From Pandas, we're going to bring in something called <code>json_normalize</code>:

In [10]:
from pandas.io.json import json_normalize

And just for fun, let's pull up what Pandas see's from the "response" section of our JSON. You may want to take a moment to play with the code to see if you can pull up other bits of information manually, before we make the data useable for human and machine...

In [11]:
print (data["duration"])

KeyError: 'duration'

In your playing, you might have tried calling up "risetime" and gotten an error! Why is that?<p>
    You should note the nested curly brackets ("{ }"). In <b>data</b>, there are only two "headers": "message" and "response". However, "response" has a nested array within it that has multiple arrays. In short, we have a 3-dimensional table.
    
<img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/8-cell.gif">A rotating hypercube (Credit: Wikimedia)
<p><hr>

<h2>Getting to tables</h2>
Let's now create a dataframe from our json file. I've provided the code below, but you may want to read up on how flexible <code>from_dict</code> can be in creating arrays from dictionaries!

In [12]:
df = pd.DataFrame.from_dict(json_normalize(data["response"]), orient='columns')

In [13]:
df

   duration    risetime
0       548  1600981523
1       655  1600987253
2       612  1600993108
3       592  1600998980
4       642  1601004806

<hr>We have to do something about UNIX time... The command to convert time time can be found here. Try creating a new column called 'risetime' using the Pandas command "to_datetime".
<p><i>Hints</i>:
<ul>
    <li>Read the documentation for how to implement this!</li>
    <li>The units of the given time from the API is in seconds (or 's').</li>

In [14]:
df['risetimeHUMAN']=pd.to_datetime(df['risetime'],unit='s')

In [15]:
#view your dataframe
df

   duration    risetime       risetimeHUMAN
0       548  1600981523 2020-09-24 21:05:23
1       655  1600987253 2020-09-24 22:40:53
2       612  1600993108 2020-09-25 00:18:28
3       592  1600998980 2020-09-25 01:56:20
4       642  1601004806 2020-09-25 03:33:26